body, html {

  margin: 0%;
  height: 100%;

 font-family: Georgia, 'Times New Roman', Times, serif;

}

#main-content-container {
  display: flex;
  flex-direction: row;
}

#header-container {
  height: 10vh;
  
  min-height: fit-content;

  display: flex;
  flex-direction: column;

  border:1px solid black;
  border-style: groove;
  border-radius: 5px;

  background-color: #6e79b5;

}

#header-container h2 {
  margin: 0%;
  font-size: 1wv;
  margin-left: 25vh;
  color: white;
}

#header-container h1 {
  margin: 0%;
  color: white;
  font-size: 2vw;
  margin-left: 25vh;
  margin-top: 1vh;

}

#header-container img {

  width: auto;
  height: 10vh;
  margin-left: 5vh;

}

#console {
  flex-grow: 5;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  border:1px solid black;
  border-style: groove;
  border-radius: 5px;

  background-color: #EEEDE7;
}

#sidebar {

  padding-top: 15px;
  display: flex;
  flex-direction: column;

  /* align-content: flex-start;
  justify-content: flex-start; */
  /* justify-content: */
  min-width: 12vw;
  max-width: 12vw;
  /* width: 10vw; */
  /* position:static; */
  /* padding-left: 2vw;
  padding-right: 2vw; */

  height: 87vh;
  /* background-color: burlywood; */
  /* border:1px solid black; */


  flex-grow: 1;

  text-align: center;


  border:1px solid black;
  border-style: groove;
  border-radius: 5px;

}

#sidebar a {

  font-size: 25px;
  /* margin-left: 25%; */

  margin-top: 5vh;

  align-self: center;
  text-decoration: none;
  color: black;
  font-family: monospace;
  
}
a:visited {
  color: black;
}

#sidebar a:hover {
  font-size: 26px;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
#sidebar a:active {
  font-size: 30;
}

#profile-link{
  text-decoration: none;
}

#profile-card {
  margin-bottom: 5vh;
}

#profile-card span {
  
  font-size: 16px;
  font-style: italic;
  color: black;
}



.graph-div {

  width: inherit;
  height: 40vh;

  margin: 1vh;
  /* margin-right: 0%;
  padding-right: 0%; */
  background-color: white;
  text-align: center;
}

.graph-div h2 {

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: .65;
  font-size: x-large;


}
.order-graph-div {

  width: inherit;
  height: 50vh;

  margin: 1vh;
  /* margin-right: 0%;
  padding-right: 0%; */
  background-color: white;
  text-align: center;
}

.order-graph-div h2 {
  /* margin-top: 5px; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: .65;
  font-size: x-large;
}

.customer-graph-div {

  width: inherit;
  height: 40vh;

  margin: 1vh;
  /* margin-right: 0%;
  padding-right: 0%; */
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#customer-specific-graph-title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: .65;
  font-size: x-large;
  margin: 5px;
  width: 100%;
}

.customer-graph-div h2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: .65;
  font-size: x-large;

}

.order-graphing-options {
  background-color: white;
  text-align: center;
  width: inherit;
  height: 10vh;
  margin: 1vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-content: space-around;
  justify-content: space-evenly;
}

.order-graphing-options ul li {
  /* margin: 40px; */
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  font-size: 20px;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-color: #4c58a7;
}
#order-options-header{
  width: inherit;
  margin-bottom: 0;
  font-size: 20px;
  
}

.order-graphing-options ul{
  display: flex;
}

.data-list {

  width: inherit;
  height: 40vh;

  margin: 1%;
  background-color: white;

  text-align: center;

  /* max-width: 100%; */

  overflow: auto;
  overflow-x: initial;

}

.data-list table {

  /* justify-content: space-evenly; */
  width: 100%;
  overflow: auto;
  max-width: 100%;

}

.data-list li {

  list-style: none;
  border:1px solid rgb(187, 187, 187);
  border-bottom: thin;

}

.card-div {

  width: inherit;
  height: 40vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /* flex-wrap: wrap; */

  margin: 1vh;
  /* margin-right: 0%;
  padding-right: 0%; */
  background-color: white;
  

  text-align: center;
  
}

#selected-filter{

  list-style: none;
  color: black;
  /* border-style: solid; */
  /* border-color: #4c58a7; */
  background-color: white;
  font-weight: 800;
  /* border-width-left: 1vh; */
  /* margin-left: 1vh; */
  /* margin-right: 1vh; */
}

